body {
    font-family: Arial, sans-serif;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error {
    color: red;
    font-size: 14px;
}
form{
    margin-top: 45vh;
}

