<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body { background-color: gray; }
    </style>
</head>
<body>
<div class="container">
    <h2>Panel użytkownika: {{ user }}</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h3>Rejestracja użytkownika</h3>
    <form method="POST" action="{{ url_for('dashboard.register_user') }}">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Hasło" required>
        <input type="password" name="confirm_password" placeholder="Potwierdź hasło" required>
        <input type="number" name="role" placeholder="0 = Analist, 1 = Admin" min="0" max="1" required>
        <button type="submit">Zarejestruj</button>
    </form>
    <h3>Dodaj klienta</h3>
    <form method="POST" action="{{ url_for('dashboard.add_client') }}">
        <input type="text" name="first_name" placeholder="Imię" required>
        <input type="text" name="last_name" placeholder="Nazwisko" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="number" name="client_tenure" placeholder="Staż klienta (lata)" min="0" required>
        <button type="submit">Dodaj klienta</button>
    </form>
    <h3>Dodaj aktywność klienta</h3>
    <form method="POST" action="{{ url_for('dashboard.add_client_activity') }}">
        <input type="emial" name="email_customer" placeholder="emial customer" required>
        <input type="number" name="numbers_visits" placeholder="Liczba wizyt" required>
        <input type="number" name="numbers_purchases" placeholder="Liczba zakupów" required>
        <input type="number" name="average_basket_value" placeholder="Średnia wartość koszyka" min="0" step="any" required>
        <input type="number" name="numbers_purchases_day" placeholder="Dni od ostatniego zakupu" min="0" required>
        <button type="submit">Dodaj aktywność klienta</button>
    </form>
    <a href="{{ url_for('dashboard.dashboard_ml') }}">
    <button type="button">Pokaż statystyki ML</button>
</a>
    {% if show_ml is defined and show_ml %}
    <h1>Statystyki modelu ML</h1>
    {% for line in stats_text.split('\n') %}
        {{ line }}<br>
    {% endfor %}
    {% endif %}
</div>
</body>
</html>